{%extends "ecom/base.html" %}
{% block content%}
{% load crispy_forms_tags %}
<title>Results</title>
<main>
 <div class = "container">
            <div class = 'col s12 m8 offset-m2'>
                <h3>Filter</h3>
                <form method="get">
                    {{filter.form|crispy }}
                    <br>
                    <div align = 'center'>
                <button class="btn btn-outline-info" type="submit">Search</button>
                </div>
                </form>
      <div class="section">
        <h3>Products</h3>
      <div class="row">
        {% for product in filter.qs %}
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <a href="/productview/{{product.id}}"><img src="{{ product.image }}" width="350px" height="250px"></a>
              {% include 'wishlist/addtowishlist.html' with product=product wishlist=wishlist %}
            </div>
            <div class="card-content">
              <a href="/productview/{{product.id}}"><span class="card-title">{{ product.name }}</span></a>
              <p>{{ product.description }}</p>
            </div>
            <div class="card-action">
                            <h7>Rs. {{product.price}}</h7>
              <form method="POST" action='{% url "update" %}' class="form">{% csrf_token%}
                <input type="hidden" name="product_id" value='{{product.id}}'>
                    {% if in_cart %}
                   <button type='submit' class="btn btn-link btn-sm">Remove?</button>
                    {% else %}
                       {% if product in cart.products.all %}
                            <small><button type='submit' class="btn btn-link">Remove from cart?</button></small>
                       {% else %}
                          <button type='submit' class='btn btn-success'>Add to cart</button>
                        {% endif %}
                   {% endif %}
                   </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
</main>
{% endblock content %}
